<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

    <div class="mx-auto" style="width: 200px;">
        <h2>Book list</h2>
    </div>
    <br><br>
    <div class="container">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Price</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.bookName}"></td>
            <td th:text="${book.authorName}"></td>
            <td th:text="${book.price}"></td>
        </tr>
    </table>
</div>
<!--<p>-->
<!--    <a href="../home.html" th:href="@{/}">Return to home</a>-->
<!--</p>-->


</body>

</html>